* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
header {
    background: #111;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav nav a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.nav nav a:hover {
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

.logo h1 {
    font-family: "Dancing Script", cursive;
    font-size: 38px;
    color: #ffffff;
}

.logo img {
    width: 60px;
}


/* HERO */
.hero {
    position: relative;
    height: 784px;
    background: url("/img/shot-by-cerqueira-lri4DUnAUrI-unsplash.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay { /* o overlay e o hero content estão aqui para diminuir um pouco o brilho da imagem de fundo e deixar mais agradavel aos olhos */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
}

footer {
    background: #111;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    margin-top: 0;
}

footer p {
    font-size: 14px;
    color: #ddd;
    letter-spacing: 0.5px;
    margin: 0;
}

.formulario {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: #111;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.formulario h2 {
    margin-bottom: 20px;
}

/* Inputs */
.formulario input,
.formulario textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

/* foco bonito */
.formulario input:focus,
.formulario textarea:focus {
    box-shadow: 0 0 0 2px #1e5eff;
}

/* botão reaproveitando seu estilo */
.enviar {
    display: inline-block;
    background: linear-gradient(135deg, #1e5eff, #3b82f6);
    color: white;
    padding: 12px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.enviar:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(30, 94, 255, 0.4);
}

.entre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    margin: 25px auto;
}

.logo h1 a {
    font-size: 38px;
    font-family: "Dancing Script", cursive;
    color: #ffffff;
    text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .bloco {
        flex-direction: column;
        text-align: center;
    }
}